In [24]:
#generate a new data set from mann_bruker_simplified.text with the following columns:
# sequence, charge, CCS
import pandas as pd

In [25]:
#read the data
data = pd.read_csv('mann_bruker_simplified.txt', sep=',')
data.head()

,Sequence,Modifications,Modified sequence,Charge,Raw file,Experiment,Ion mobility index,Ion mobility length,CCS,CCS length,Score,Intensity
0,AAAAAAAAAAAATGTEAGPGTAGGSENGSEVAAQPAGLSGPAEVGP...,Unmodified,_AAAAAAAAAAAATGTEAGPGTAGGSENGSEVAAQPAGLSGPAEVG...,4,20180819_TIMS2_12-2_AnBr_SA_200ng_HeLa_50cm_12...,1_A1_01_2767,303,58,2.654046e-35,1.283781e-36,30.753,31459.0
1,AAAAAAAAAK,Unmodified,_AAAAAAAAAK_,1,20180819_TIMS2_12-2_AnBr_SA_200ng_HeLa_50cm_12...,3_A1_01_2769,156,31,5.996674e-36,1.334331e-37,85.813,26973.0
2,AAAAAAAAAK,Unmodified,_AAAAAAAAAK_,1,20180819_TIMS2_12-2_AnBr_SA_200ng_HeLa_50cm_12...,3_A1_01_2769,147,31,5.956918e-36,1.316610e-37,85.813,36267.0
3,AAAAAAAAAK,Unmodified,_AAAAAAAAAK_,1,20180819_TIMS2_12-2_AnBr_SA_200ng_HeLa_50cm_12...,4_A1_01_2770,156,28,5.996673e-36,1.203558e-37,85.813,27083.0
4,AAAAAAAAAK,Unmodified,_AAAAAAAAAK_,1,20180819_TIMS2_12-2_AnBr_SA_200ng_HeLa_50cm_12...,4_A1_01_2770,150,31,5.970114e-36,1.322478e-37,78.178,33597.0

In [26]:
#extract the sequence, charge and CCS columns
data = data[['Sequence', 'Charge', 'CCS']]

#handle duplicate values if sequence and charge are the same by keeping median value
data = data.groupby(['Sequence', 'Charge']).median().reset_index(
    drop=False
)
data.head()

                                            Sequence  Charge           CCS
0  AAAAAAAAAAAATGTEAGPGTAGGSENGSEVAAQPAGLSGPAEVGP...       4  2.654046e-35
1                                         AAAAAAAAAK       1  5.990020e-36
2                      AAAAAAAAAPAAAATAPTTAATTAATAAQ       2  1.208337e-35
3                      AAAAAAAAAPAAAATAPTTAATTAATAAQ       3  2.199438e-35
4                          AAAAAAAGDSDSWDADAFSVEDPVR       2  1.199783e-35

In [27]:
#save the data in different file called final_data.csv in this directory
data.to_csv('final_data.csv', index=False)
#show the path of the saved file data       
print('Data saved in final_data.csv')

Data saved in final_data.csv